.film-list {
    display: flex;
    align-items: center;
    overflow: auto;
    margin-bottom: 120px;
}

.film-list-title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: large;
}